{{!

	TAG CLOUD
	! Configuration of this file is required.
	- Add common tags here for sidebar
	- Remove the default tags below if not used
	- Copy an example tag and replace the tag word in the /tag/ and > < sections
	- Replace spaces in tags with '%20' in the url eg. 'frontend%20development'

}}

	<div class="widget tag_widget">
		<ul class="tags_list">
			{{! <li><a href="/tag/taghere">taghere</a></li> }}
			<li><a href="{{@blog.url}}/tag/reflections">Reflections</a></li>
			<li><a href="{{@blog.url}}/tag/entrepreneurship">Entrepreneurship</a></li>
			<li><a href="{{@blog.url}}/tag/analytics">Analytics</a></li>
			<li><a href="{{@blog.url}}/tag/development">Development</a></li>
			<li><a href="{{@blog.url}}/tag/crowdfunding">Crowdfunding</a></li>
		</ul>
	</div>
